<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <script defer src="js/alerts.js"></script>

    <title>Document</title>
</head>
<body>
    <div id="gridContainer">
        <p id="welcome">Welkom <span id="userID">[user]!</span></p>

        <div class="left">
            <div id="bestelgeschiedenis">
                <div>
                    <img src="images/placeholder.png">
                    <p class="title">Titel</p>
                    <p class="desc">lorum ipsum</p>
                </div>
            </div>
        </div>
        <div class="center">
            
        </div>
        <div class="right">
            <div class="userSettings">
                <p class="sep">Account Instellingen</p>

                <a href="" id="veranderGebruikersNaam" class="sep">Verander Gebruikersnaam</a>
                <a href="" id="veranderMail" class="sep">Verander E-Mail</a>

                <hr class="account sep">

                <a href="" id="tegoed" class="sep">Weizig Tegoed</a>

                <hr class="account sep">

                <button id="admin" class="sep">Admin</button>
            </div>
        </div>
    </div>
</body>
</html>