<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <script defer src="js/alerts.js"></script>

    <title>Document</title>
</head>
<body>
    <% if (errorcode != '') { %>
        <div class="alert error">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p><i class="fas fa-minus-circle"></i> <%= errorcode %></p>
        </div>
    <% } %> 
    <% if (successcode != '') { %>
        <div class="alert success">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p><i class="fas fa-check"></i> <%= successcode %></p>
        </div>
    <% } %> 
    <form action="/product/createProduct" method="post">
        <label>Product Naam*</label>
        <input type="text" name="name" placeholder="Product Naam*">
        <label>Product Prijs*</label>
        <input name="prijs" placeholder="Product Prijs*">
        <label>Product Aantal</label>
        <input name="aantal" placeholder="Product Aantal">
        <button type="submit">Maak Product</button>
    </form>
</body>
</html>