<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- style -->
    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/footer.js"></script>
    <script defer src="js/nav.js"></script>
<!-- scripts -->
    <title>Zandvoort - Home Pagina</title>
</head>
<body>
    <nav id="nav">
    </nav>
    
    <div id="heroImg">
        <div id="titel">GP-Zandvoort</div>
    </div>
    <div class="section2">
        <div id="information">
            <h3>Zandvoort</h3>
            <p id="firstGP">1952 eerste GP</p>
            <p id="numbOfLaps">72 laps</p>
            <p id="length">4.259Km lang</p>
            <p id="bochten">14 bochten</p>
            <p id="raceDistance">306587km totale afstand</p>
            <p id="record">1:11.097 de beste tijd</p>
        </div>
    </div>
    <div class="section3">
        <div id="mainNewsDesc">
            <h3>Max Verstappen</h3>
            <P>Wat een gamer</P>
        </div>
        <div id="mainNewsTitel">
            <h4>Max Verstappen</h4>
            <P>Nog steeds een gamer</P>
        </div>
    

    </div>
    <footer id="footer">
<!-- content staat in footer.js -->
    </footer>
</body>
</html>