<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- style -->
    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/footer.js"></script>
    <script defer src="js/nav.js"></script>
<!-- scripts -->
    <title>Zandvoort - Home Pagina</title>
</head>
<body>
    <nav id="nav">
    </nav>
    <div id="heroImg">      
        <h3 id="titelTitle">Beleef de Grand-Prix 20222 in Zandvoort live!</h3>
  
        <div id="titel"><img src="/img/logo.png" alt="logo" width="300px" height="auto"> </div>
    </div>
    <div class="section2">
        <div id="information">
            <h3>Zandvoort</h3>
            <p id="firstGP">1952 eerste GP</p>
            <p id="numbOfLaps">72 laps</p>
            <p id="length">4.259Km lang</p>
            <p id="bochten">14 bochten</p>
            <p id="raceDistance">306587km totale afstand</p>
            <p id="record">1:11.097 de beste tijd</p>
        </div>
    </div>
    <div class="section3">
        <div id="mainNewsDesc">
            <h3>Max Verstappen</h3>
            <p>
                <!-- verhaal over max verstappen -->
                Max Verstappen is een Nederlandse motorcrosser, bestuurder en voetafdeling van de Audi R8. Hij is geboren in de stad Zandvoort op 1 juni 1972.
                Verstappen is een van de meest uitgebreide en beste motorcrossers van Nederland. Hij is geboren in de stad Zandvoort op 1 juni 1972.
                
            </p>
            <P>Wat een gamer</P>
            <p>
                <!-- verhaal over de gp-zandvoort-->
                De GP-Zandvoort is een van de meest uitgebreide en beste motorcrossers van Nederland.
            </p>
        </div>
        <div id="mainNewsTitel">
            <h4>
                <!-- interessant feitje over de race -->
                Het word een spannende race hier!
            </h4>
            <P>Beleef het zelf live en koop nu tickets</P>
        </div>
    

    </div>
    <footer id="footer">
<!-- content staat in footer.js -->
    </footer>
</body>
</html>