<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <title>frontpage</title>
</head>
<body>
    <div id="header">
        <div id="index">F1 Zandfoort</div>`
        <a href="" id="nieuws">Nieuws</a>
        <a href="" id="tickets">Tickets</a>
        <div id="buttonContainer">
            <button id="login">Login</button>
            <button id="subscribe">Subscribe</button>
            <button id="account">Account</button>
        </div>
    </div>
    
    <img src="img/headerImg.jpg" alt="action image" id="titelImg">
    <div id="titel">Zandvoort</div>
    
    <img src="img/track.png" alt="track" id="track">
    <div id="zandvoort">Zandvoort</div>
    <div id="information">
        <div id="firstGP">1952</div>
        <div id="numbOfLaps">72</div>
        <div id="length">4.259Km</div>
        <div id="raceDistance">306587km</div>
        <div id="record">1:11.097</div>
    </div>
    
    <img src="img/car.jpg" alt="" id="mainNewsItem">
    <div id="mainNewsDesc"></div>
    <div id="mainNewsTitel"></div>
    
    <div id="footer">
        <div id="links">
    
        </div>
        <div id="line"></div>
        <div id="contact">
    
        </div>
    </div>
</body>
</html>