<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <title>Zandvoort - Home Pagina</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <li><a href="" class="nav-link">Home</a></li>
            <li><a href="" class="nav-link">Nieuws</a></li>
            <li><a href="" class="nav-link">Tickets</a></li>
            <a href=""><button class="nav-link">Subscribe</button></a>
            <div class="nav-btn-wrapper">
                <a href=""><button class="nav-link">Login</button></a>
                <a href=""><button class="nav-link">Register</button></a>
            </div>
        </div>
    </nav>
    
    <div id="heroImg">
        <img src="img/headerImg.jpg" alt="action image" id="titelImg">
        <div id="titel">Zandvoort</div>
    </div>
    
    <img src="img/track.png" alt="track" id="track">
    <div id="zandvoort">Zandvoort</div>
    <div id="information">
        <div id="firstGP">1952</div>
        <div id="numbOfLaps">72</div>
        <div id="length">4.259Km</div>
        <div id="raceDistance">306587km</div>
        <div id="record">1:11.097</div>
    </div>
    
    <img src="img/car.jpg" alt="" id="mainNewsItem">
    <div id="mainNewsDesc"></div>
    <div id="mainNewsTitel"></div>
    
    <div id="footer">
        <div id="links">
    
        </div>
        <div id="line"></div>
        <div id="contact">
    
        </div>
    </div>
</body>
</html>