<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <title>Zandvoort - Home Pagina</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="" class="nav-link homeButton">Home</a>
            <div class="linkys">
                <li><a href="" class="nav-link">Nieuws</a></li>
                <li><a href="" class="nav-link">|</a></li>
                <li><a href="" class="nav-link">Tickets</a></li>
            </div>
            <div class="nav-btn-wrapper">
                <a href="/login"><button class="nav-link">Login</button></a>
                <a href="/login"><button class="nav-link">Register</button></a>
            </div>
        </div>
    </nav>
    
    <div id="heroImg">
        <div id="titel">Zandvoort</div>
    </div>
    <div class="section2">
        <div id="information">
            <h3>Zandvoort</h3>
            <p id="firstGP">1952</p>
            <p id="numbOfLaps">72</p>
            <p id="length">4.259Km</p>
            <p id="raceDistance">306587km</p>
            <p id="record">1:11.097</p>
        </div>
    </div>
    <div class="section3">
        <div id="mainNewsDesc"></div>
        <div id="mainNewsTitel"></div>
    

    </div>
    <div class="footer">
        <div id="links">
            <ul>
            <li><a href="" class="footer-link">Home</a></li>
            <li><a href="" class="footer-link">Nieuws</a></li>
            <li><a href="" class="footer-link">Tickets</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Register</a></li>
        </ul>
        </div>
        <div id="line"></div>
        <div id="contact">

        </div>
    </div>
</body>
</html>