<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/news.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <script defer src="js/alerts.js"></script>
    <script defer src="js/footer.js"></script>
    <script defer src="js/nav.js"></script>

    <title>Document</title>
</head>
<body>
    <% if (errorcode != '') { %>
        <div class="alert error">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p><i class="fas fa-minus-circle"></i> <%= errorcode %></p>
        </div>
    <% } %> 
    <% if (successcode != '') { %>
        <div class="alert success">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <p><i class="fas fa-check"></i> <%= successcode %></p>
        </div>
    <% } %> 

    <nav id="nav">
    </nav>

    <section class="main">
        <div class="articles">
            <h1>News Titel</h1>
            <img src="img/car.jpg" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus iusto quos quas dolores temporibus facilis odit unde accusamus dolorem velit vitae, ratione voluptate. Rerum quos laudantium illum repellat repudiandae explicabo atque rem, a molestiae nesciunt, est beatae laborum tenetur. Deserunt ut soluta voluptatem!</p>
            <a href=""><button>Lees Meer</button></a>
        </div>
        <div class="articles">
            <h1>News Titel</h1>
            <img src="img/car.jpg" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus iusto quos quas dolores temporibus facilis odit unde accusamus dolorem velit vitae, ratione voluptate. Rerum quos laudantium illum repellat repudiandae explicabo atque rem, a molestiae nesciunt, est beatae laborum tenetur. Deserunt ut soluta voluptatem!</p>
            <a href=""><button>Lees Meer</button></a>
        </div>
        <div class="articles">
            <h1>News Titel</h1>
            <img src="img/car.jpg" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus iusto quos quas dolores temporibus facilis odit unde accusamus dolorem velit vitae, ratione voluptate. Rerum quos laudantium illum repellat repudiandae explicabo atque rem, a molestiae nesciunt, est beatae laborum tenetur. Deserunt ut soluta voluptatem!</p>
            <a href=""><button>Lees Meer</button></a>
        </div>
    </section>

</body>
</html>