:root {
    --white: #FFFFFF;
    --gray: #B1A7A6;
    --red: #BA181B;
    --redBorder: #971416;
    --redHover: #e63b3e;
    --black: #000000;
    --donkerBG: #393E41;
    --donkerBGAlpha: #2e3235c0;
    --lichtBG: #D3D0CB;
    --superLichtBG: #DBD9D5;
    --donkerder: #1e2019;
    --pop: #587b7f;
}

body {
    color: black;
}

p {
    display: block;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    gap: 50px;
    margin: 2%;
}

#welcome {
    font-size: 2.5rem;
    margin-top: 4%;
}

.left, .center, .right {
    background-color: var(--lichtBG);
    border-radius: 15px;
    padding: 2%;
    font-size: 1.4rem;
}

.left {
    grid-area: 2 / 1 / 2 / 1;
    padding: 5% 4% 5% 4%;
}

.center {
    grid-area: 1 / 2 / 3 / 2;
    padding: 5% 4% 5% 4%;
}

.right {
    grid-area: 1 / 3 / 3 / 3;
    padding: 5% 4% 5% 4%;
}

.sep {
    margin: 3% 0% 3% 0%;
}

.left > #bestelgeschiedenis > div {
    margin: 3% 2% 3% 2%;
    background-color: var(--superLichtBG);
    padding: 2% 7% 2% 2%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 3fr;
    border-radius: 15px;
}

.left > #bestelgeschiedenis > div > img {
    grid-column: 1;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.left > #bestelgeschiedenis > div > div {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.left > #bestelgeschiedenis > div > div > .titel {
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: underline;
}

.left > #bestelgeschiedenis > div > div > .prijs, .aantal, .totaal {
    font-size: 1.2rem;
}

.rightSpan{
    float: right;
    text-decoration: underline;
}

.center > div {
    margin: 3% 2% 3% 2%;
    background-color: var(--superLichtBG);
    padding: 2% 7% 2% 2%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 3fr;
    border-radius: 15px;
}

.center > div > img {
    grid-column: 1;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.center > div > div {
    grid-column: 2;
}

.center > div > .titel {
    font-size: 1.7rem;
}

.center > div .desc {
    font-size: 1.2rem;
}

.right > .userSettings > a, .right > .tegoed > a {
    display: block;
    text-decoration: none;
    color: var(--black);
}

.right > .userSettings > p {
    font-size: 2.5rem;
    font-weight: bold;
}

.account {
    color: var(--pop);
    border: 2px solid;
    border-radius: 15px;
}

#admin {
    width: 100%;
    height: 3.5rem;
    font-size: 2rem;
    border-radius: 15px;

    background-color: var(--red);
    border-color: var(--redBorder);
    color: var(--white);
}

#admin:hover {
    background-color: var(--redHover);
    border-color: var(--red);
    color: var(--white);
}  

@media only screen and (max-width: 1080px) {
    #gridContainer {
        display: grid;
        grid-template-rows: 2.7rem auto auto auto;
        grid-template-columns: 1fr;
        gap: 50px;
        margin: 2%;
    }

    #welcome {
        grid-area: 1 / 1 / 1 / 1;
        margin-bottom: 5%;
    }

    .left, .center {
        padding: 1%;
    }

    .left {
        grid-area: 2 / 1 / 2 / 1;
    }

    .center {
        grid-area: 3 / 1 / 3 / 1;
    }

    .right {
        grid-area: 4 / 1 / 4 / 1;
        padding: 3%;
    }
}