:root {
    --buttonActive: hsl(120, 100%, 25%);
    --buttonNope: hsla(120, 56%, 49%, 0);
  }

@keyframes right{
    0%   {margin-left: 0%;}
    100%  {margin-left: -5%; background-color: var(--buttonActive)}
}

@keyframes left {
    0%   {margin-left: -5%;}
    100%  {margin-left: 0%; background-color: var(--buttonNope)}
}


.formWrapper{
    display: flex;
    justify-content: center;
}

.form .slide{
    width: 10vw;
    height: 5vh;
    background-color: wheat;
    display: block;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.form .slide:hover{
    cursor: pointer;
}

.slide .blockTekst{
    display: inline-block;
    margin: 0;
    left: 0;
    position: relative;
    z-index: 99;
}

.slide .slideBlock{
    height: 5vh;
    width: 5vw;
    position: absolute;
    display: inline-flex;
    margin-left: -5%;
    background-color: green;
    border-radius: 10px;
}

.slide .slideBlock2{
    height: 5vh;
    width: 5vw;
    position: absolute;
    display: inline-flex;
    margin-left: 0%;
    border-radius: 10px;
}

.login, .signup{
    width: fit-content;
    text-align: center;
    display: block;
    margin-top: 6vh;
}

.form label, input{
    display: block;
}

.form input{
    margin-bottom: 20px;
}

.form .remember{
    display: inline-block;
}